@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600&display=swap');

:root {
  font-size: 16px;
  --font-family: 'Crimson Text', Georgia, serif;
  --c-black: #1f1f1f;
  --c-black-translucent: hsla(0, 0%, 12%, .5);
  --c-white: #fcfcf9;
  --c-white-translucent: hsla(60, 33%, 98%, .8);
  --c-green: #17572F;
  --c-green-translucent: rgba(23, 87, 47, .8);
  --c-red: #750C0C;
  --c-red-translucent: rgba(168, 16, 21, .8);
  --c-blue-1: #C8D9D6;
  --c-blue-1-translucent: rgba(200, 217, 214, .8);
  --c-blue-1-translucent-2: rgba(200, 217, 214, .95);
  --c-blue-2: #A9D0FB;
  --c-blue-2-translucent: rgba(169, 208, 251, .8);
  --c-blue-3: #4F669F;
  --c-blue-3-translucent: rgba(79, 102, 161, .8);
  --c-blue-4: #0D1967;
  --c-blue-4-translucent: rgba(13, 25, 103, .8);
  --c-yellow-1: #e0c187;
  --transition: all .2s ease, outline 0s linear;

  background-color: var(--c-white);
  color: var(--c-black);
}
* {
  box-sizing: border-box;
  transition: inherit;
}
#skip-link {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: none;
}
#skip-link:focus {
  width: auto;
  height: auto;
  clip: initial;
  margin: auto;
  overflow: visible;
  z-index: 2;
  color: var(--c-black);
  background-color: var(--c-white);
  outline: 0;
  border-color: var(--c-black);
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  transition: var(--transition);
  font-family: var(--font-family);
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  font-size: 1.4rem;
}
p + * {
  margin-top: 1rem;
}
img {
  max-width: 100%;
}
iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 2rem;
}
iframe[src*="bandcamp"] {
  max-width: min(500px, 100%);
}
iframe[src*="youtube"] {
  max-width: min(720px, 100%);
}

.layout__header {
  padding: 2rem 2rem .25rem;
}
.layout__content-inner {
  padding: 3rem 2rem 5rem;
  max-width: 80rem;
}
.layout__content-inner p {
  max-width: 50rem;
  background-color: var(--c-white-translucent);
}
.layout__content a {
  font-weight: 600;
  color: var(--c-black);
  text-shadow: 1px 1px 0 var(--c-yellow-1);
  border-bottom: 1px solid transparent;
  word-wrap: break-word;
}
.layout__content a.cta {
  display: block;
  max-width: min(320px, 100%);
  padding: .5rem 0;
  margin: .5rem 0;
  text-align: center;
  font-size: 1rem;
  text-shadow: none;
  font-weight: initial;
  background-color: #efefef;
  border-bottom: 0;
}
.layout__content a.cta:last-of-type {
  margin-bottom: 3rem;
}
.layout__content a.cta:hover,
.layout__content a.cta:focus {
  opacity: .8;
}
.layout__content a.cta.apple {
  background-color: #000;
  color: var(--c-white);
}
.layout__content a.cta.bandcamp {
  background-color: #629aa9;
  color: var(--c-white);
}
.layout__content a.cta.spotify {
  background-color: #1DB954;
  color: var(--c-white);
}
.layout__content a:hover,
.layout__content a:focus-visible {
  border-color: var(--c-black);
}

img.stuck {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width: 20rem;
  opacity: .5;
}

@media (min-width: 540px) {}
@media (min-width: 768px) {
  img.stuck {
    max-width: 28rem;
  }
}
@media (min-width: 1024px) {
  img.stuck {
    max-width: 40rem;
  }
}
