@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600&display=swap');

:root {
  font-size: 16px;
  --c-black: #000;
  --c-white: #fff;
  --width-sidebar-tablet: 20rem;
  --width-sidebar-desktop: 28rem;
  --transition: all .2s ease, outline 0s linear;
}
* {
  box-sizing: border-box;
  transition: inherit;
}
#skip-link {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: none;
}
#skip-link:focus {
  width: auto;
  height: auto;
  clip: initial;
  margin: auto;
  overflow: visible;
  z-index: 2;
  color: var(--c-black);
  background-color: var(--c-white);
  outline: 0;
  border-color: var(--c-black);
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--c-white);
  color: var(--c-black);
  margin: 0;
  transition: var(--transition);
  font-family: 'Crimson Text', Georgia, serif;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  font-size: 1.25rem;
}
p + p {
  margin-top: 1rem;
}
img {
  max-width: 100%;
}
iframe {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
iframe + iframe {
  margin-top: 4rem;
}

.layout__header {
  padding: 1rem 2rem;
}
.layout__content {
  padding: 1rem 2rem;
  margin-top: 2rem;
}
.layout__content a {
  font-weight: 600;
  color: var(--c-black);
  text-shadow: 1px 1px 0 #e0c187;
  border-bottom: 1px solid transparent;
}
.layout__content a:hover,
.layout__content a:focus {
  border-color: var(--c-black);
}
.layout__content-inner {
  max-width: 45rem;
  margin: 0 auto;
}

@media (min-width: 540px) {}
@media (min-width: 768px) {}
@media (min-width: 1024px) {
  .layout__header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .layout__content {
    margin-left: var(--width-sidebar-tablet);
  }
}
@media (min-width: 1200px) {
  .layout__content {
    margin-left: var(--width-sidebar-desktop);
  }
}
