.header {
  background-color: var(--c-white-translucent);
}

.header .logo {
  font-size: 1.35rem;
  text-transform: uppercase;
}

.header a span {
  border-bottom: 1px solid transparent;
  color: var(--c-black);
}
.header a span:hover,
.header a span:focus {
  border-bottom-color: var(--c-black);
}

.header__inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 540px) {
  .header__inner {
    display: initial;
  }
}
